<a href="https://colab.research.google.com/github/vashcot-sudo/vash/blob/main/%D0%9C%D0%BE%D0%B4%D1%83%D0%BB%D1%8C_2_%D0%9F%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B8%D0%B5_%D0%B7%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D1%8F_%D0%BA_2_1_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ЗАДАНИЕ 1

In [ ]:
print ('Hello Word')

Hello Word

ЗАДАНИЕ 2

In [ ]:
print (4, 8, 15, 16, 23, 42)

4 8 15 16 23 42

ЗАДАНИЕ 3

In [ ]:
print ("*")
print ("**")
print ("***")
print ("****")
print ("*****")
print ("******")
print ("*******")

*
**
***
****
*****
******
*******

ЗАДАНИЕ 4

In [ ]:
print ("Отчёт о доходах")
print ("1 квартал 1200000")
print ("2 квартал 1350000")
print ("3 квартал 1280000")
print ("4 квартал 1420000")

Отчёт о доходах
1 квартал 1200000
2 квартал 1350000
3 квартал 1280000
4 квартал 1420000

ЗАДАНИЕ 5

In [ ]:
name = input ()
print ("Добро пожаловать в команду,", name, "!")

Влад
Добро пожаловать в команду, Влад !

ЗАДАНИЕ 6

In [ ]:
name = input ("название компании: ") #Сбер
print (name, " - лидер рынка!")

название компании: Сбер
Сбер  - лидер рынка!

Задание 7

In [ ]:
name_data = input ("<название> ")
number_lines = input ("<число строк> ")
number_columns = input ("<число столбцов> ")

print (name_data)
print (number_lines)
print (number_columns)

<название> Sales Q1
<число строк> 1000
<число столбцов> 8
Sales Q1
1000
8

ЗАДАНИЕ 8

In [ ]:
report1 = input ("<Отчет 1> ")
report2 = input ("<Отчет 2> ")
report3 = input ("<Отчет 3> ")

reports = [report1, report2, report3]

print (reports[-1])
print (reports[-2])
print (reports[-3])

<Отчет 1> Продажи за январь
<Отчет 2> Продажи за февраль
<Отчет 3> Продажи за март
Продажи за март
Продажи за февраль
Продажи за январь

ЗАДАНИЕ 9

In [ ]:
base_price = 100
growth_percent = 20
new_price = base_price*(1+growth_percent/100)
delta = base_price*(growth_percent/100)
print ("new_price = ", new_price)
print ("delta = ", delta)

new_price =  120.0
delta =  20.0

ЗАДАНИЕ 10

In [ ]:
print ("Северный", end="***")
print ("Центральный", end="***")
print ("Южный")

Северный***Центральный***Южный

ЗАДАНИЕ 11

In [ ]:
name_analitik = input ("имя аналитика: ")
print("Подключение установлено. Добро пожаловать,", name_analitik, end="!")

имя аналитика: Влад
Подключение установлено. Добро пожаловать, Влад!

ЗАДАНИЕ 12

In [ ]:
separator_string = input()
name_product1 = input()
name_product2 = input()
name_product3 = input()
result = name_product1 + separator_string + name_product2 + separator_string + name_product3
print(result)

|
Молоко
Хлеб
Сыр
Молоко|Хлеб|Сыр

ЗАДАНИЕ 13

In [ ]:
value_str = "42.7"
value_int = int(float(value_str))
print("Integer_part =", value_int)

Integer_part = 42

ЗАДАНИЕ 14

In [ ]:
orders_yesterday = 10
plan = 20
abs_diff = abs(plan - orders_yesterday)
print("Абсолютное отклонение от плана равняется", abs_diff)

Абсолютное отклонение от плана равняется 10

ЗАДАНИЕ 15

In [ ]:
n1=input()
n2=input()
n3=input()
n4=input()
n5=input()
n = [n1, n2, n3, n4, n5]
min_n = min(n)
max_n = max(n)
print("Наименьшее число =", min_n)
print("Наибольшее число =", max_n)

1
2
3
4
5
Наименьшее число = 1
Наибольшее число = 5

ЗАДАНИЕ 16

In [ ]:
first_name = input("Введите имя: ")
name = input("Введите фамилию: ")
print("Привет, "+ first_name + " " + name + "! Вы только что начали изучать Python")

Введите имя: Антон
Введите фамилию: Иванов
Привет, Антон Иванов! Вы только что начали изучать Python

ЗАДАНИЕ 17

In [ ]:
part1 = "«Каждый в этой стране должен научиться программировать,"
part2 = "потому что это учит думать.»"
part2_len = len(part2)
part1 = input("часть 1: ")
part2 = input("часть 2: ")
print('"' + part1[1:] + " " + part2[:(part2_len - 1)] + '"')

часть 1: «Каждый в этой стране должен научиться программировать,
часть 2: потому что это учит думать.»
"Каждый в этой стране должен научиться программировать, потому что это учит думать."

ЗАДАНИЕ 18

In [ ]:
sum = int(input("Сумма покупки: ")) #999
plan = int(input("Плановая сумма: ")) #1000
print(sum >= plan)

Сумма покупки: 999
Плановая сумма: 1000
False

ЗАДАНИЕ 19

In [ ]:
actual_age = int(input("возраст пользователя: ")) #16
plan_age = int(input("плановый возраст пользователя: ")) #18
if actual_age >= plan_age:
  print("True")
else:
  print("False")

возраст пользователя: 16
плановый возраст пользователя: 18
False

или

In [ ]:
actual_age = 16
plan_age = 18
if actual_age >= plan_age:
  print("True")
else:
  print("False")

False

ЗАДАНИЕ 20

In [ ]:
S = 500.0 #МБ
v1 = 50.0
v2 = 70.0
t = S / (v1 + v2)
print(t)

4.166666666666667

ЗАДАНИЕ 21

In [ ]:
a = 443
b = 390
S = (a*b) / 2
print(S)

86385.0

ЗАДАНИЕ 22

In [ ]:
tF = 450.55
tC = float(5/9)*(tF-32)
print(tC)

232.5277777777778

ЗАДАНИЕ 23

In [ ]:
revenue_str = 438746.78
revenue = float(revenue_str) #Преобразование строки в число
bonus = int(revenue * float(1/100)) #Расчет бонуса (1% от выручки)
bonus_str = str(bonus) #Преобразование числа в строку (привеление к одному типу данных)
courier_name = input ("<имя курьера> ")
#Тогда на выходе:
output = "report = 'Курьер " + courier_name + " получит бонус " + str(bonus) + " р.'"
print(output)

<имя курьера> Антон
report = 'Курьер Антон получит бонус 4387 р.'